# Safegaurd for non-interactive shells
[[ $- != *i* ]] && return

# Prompt Color Controls
case $(( RANDOM % {{ bash_prompts | length }} )) in
  {% for prompt in bash_prompts %}
  {{ prompt.index }}) 
    SELECTED_PROMPT_NAME={{ prompt.name }}
    SELECTED_PROMPT_STRING={{ prompt.parts | join('') }}
    ;;
  {% endfor %}
esac

PS1="$SELECTED_PROMPT_STRING"

