# Safegaurd for non-interactive shells
[[ $- != *i* ]] && return

if [[ $TERM == linux ]]; then
    CHOICE=0
else
    CHOICE=$(( RANDOM % {{ bash_prompts | length }} + 1 ))
fi

# Prompt Color Controls loop index starts at one
case $CHOICE in
  {% for prompt in bash_prompts %}
  {{ loop.index }}) 
    SELECTED_PROMPT_NAME='{{ prompt.name }}'
    SELECTED_PROMPT_STRING='{{ prompt.parts | join('') }}'
    ;;
  {% endfor %}
  *)
    SELECTED_PROMPT_NAME='{{ default_prompt["name"] }}'
    SELECTED_PROMPT_STRING='{{ default_prompt["parts"] | join('') }}'
    ;;
    
esac

PS1="$SELECTED_PROMPT_STRING"

